@charset "UTF-8";

ul li {
    list-style: none;
    position: relative;
}

li {
    display: list-item;
    text-align: match-parent;
}

.pika-title,
.pika-title:visited {
    color: #424242;
    margin: 0;
    padding: 0;
}

.pika-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 54px;
    letter-spacing: -1px;
    margin: 0;
    float: left;

    background-image: url(assets/img/pika.png);
    background-position: 0 50%;
    background-repeat: no-repeat;

    background-size: 54px;
    padding-left: 60px;
}

.post-list {
    margin-left: 0;
    list-style: none;
}

.post-list li {
    border-bottom: 1px dotted #e0e0e0;
    margin: 16px 0;
    padding: 0 0 16px;
}

.post-list .post-a .post-image {
    flex-basis: 160px;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0;
}

.post-list .post-a .post-image span {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #fff;
    border-radius: 16px;
    box-shadow: 0 0 3px 0 #303030;
    display: block;
    height: 160px;
    width: 160px;
}

/* 
.post-list .post-a .post-details .post-meta {
    color: #6f6f6f;
} */

.post-meta {
    font-size: 14px;
    color: rgb(251, 202, 60);
}

.post-list .post-a .post-details {
    flex-grow: 1;
    padding: 0 16px;
}

.post-list .post-a .post-details h3 {
    font-size: 28px;
    font-style: normal;
    line-height: 32px;
    margin: 8px 0 8px;
}

.post-list .post-a .post-details .post-excerpt {
    color: #6f6f6f;
    font-size: 16px;
    line-height: 19px;
    margin: 0;
}

.post-list .post-a {
    align-items: center;
    display: flex;
    width: 100%;
}